absl-py==1.4.0
aiodns==3.0.0
aiofile==3.8.1
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anthropic==0.2.9
anyio==3.6.2
argilla==1.3.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
blinker==1.6.1
blis==0.7.9
blobfile==2.0.1
bs4==0.0.1
cachetools==5.3.0
caio==0.9.11
camelot-py==0.10.1
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.21
ci-info==0.3.0
click==8.1.3
clickhouse-connect==0.5.21
commonmark==0.9.1
confection==0.0.4
configobj==5.0.8
configparser==5.3.0
contourpy==1.0.7
crossrefapi==1.5.0
cryptography==39.0.0
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.5.7
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
docstring-parser==0.15
docx==0.2.4
docx2txt==0.8
duckdb==0.7.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl#sha256=c8ac64840c1eb3e3ca7bd38bd1e1c48fb0faeb2449d54d01d5ce629af4595775
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.0
faiss-cpu==1.7.3
fake-useragent==1.1.3
fastapi==0.92.0
filelock==3.11.0
filetype==1.2.0
fitz==0.0.1.dev2
Flask==2.2.3
Flask-Cors==3.0.10
flatbuffers==23.3.3
fonttools==4.39.3
frontend==0.0.3
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.83.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-search-results==2.4.2
googleapis-common-protos==1.59.0
gptcache==0.1.25
grpcio==1.53.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.8.0
hnswlib==0.7.0
html2text==2020.1.16
httpcore==0.16.3
httplib2==0.22.0
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.13.4
idna==3.4
imageio==2.26.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.2.1
install==1.3.5
isodate==0.6.1
itsdangerous==2.1.2
jax==0.4.8
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keras==2.12.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langchain==0.0.142
langcodes==3.3.0
libclang==16.0.0
llama-cpp-python==0.1.23
llama-index==0.5.27
looseversion==1.1.2
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
mdurl==0.1.2
ml-dtypes==0.0.4
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
olefile==0.46
openai==0.27.6
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.68
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
pandas-stubs==1.2.0.39
pathlib==1.0.1
pathy==0.10.1
pdfminer.six==20221105
pdfplumber==0.7.6
Pillow==9.5.0
posthog==3.0.1
preshed==3.0.8
proglog==0.1.10
protobuf==3.20.3
prov==2.0.0
psycopg2-binary==2.9.6
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.3.0
pycparser==2.21
pycryptodomex==3.17
pydantic==1.10.6
pydeck==0.8.0
pydot==1.4.2
Pygments==2.14.0
PyJWT==2.6.0
Pympler==1.0.1
PyMuPDF==1.21.1
pypandoc==1.11
pyparsing==3.0.9
pypdf==3.7.1
PyPDF2==2.12.1
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyrsistent==0.19.3
pysrt==1.1.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-pptx==0.6.21
pytils==0.4.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyxnat==1.5
PyYAML==6.0
rdflib==6.3.2
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.3.3
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
semver==2.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.98
simplejson==3.19.1
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.46
srsly==2.4.6
st-pages==0.4.0
starlette==0.25.0
stream-chat==4.6.0
streamlit==1.22.0
streamlit-chat==0.0.2.2
streamlit-ext==0.1.7
sv-ttk==2.4
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
termcolor==2.2.0
thinc==8.1.10
threadpoolctl==3.1.0
tiktoken==0.3.3
tokenizers==0.13.3
toml==0.10.2
tools==0.1.9
toolz==0.12.0
torch==2.0.0
torchvision==0.15.1
tornado==6.2
tqdm==4.65.0
traits==6.3.2
transformers==4.28.1
typer==0.7.0
types-PyYAML==6.0.12.9
typing==3.7.4.3
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
unstructured==0.5.13
uritemplate==4.1.1
urllib3==1.26.15
uvicorn==0.20.0
uvloop==0.17.0
validators==0.20.0
Wand==0.6.10
wasabi==1.1.1
watchfiles==0.19.0
websockets==11.0.2
Werkzeug==2.2.3
whisper==1.1.10
wikipedia==1.4.0
wrapt==1.14.1
XlsxWriter==3.1.0
yarl==1.8.2
zipp==3.15.0
zstandard==0.21.0
